<div class="d-flex justify-content-center px-5 py-5 my-5 bg-info ">
    <%= form_with html: {class: 'w-md-50 form d-flex flex-column'} do |form| %>

    <div class="form-group mb-4">
        
        <%= form.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', class: 'form-control', id: 'inputEmail', placeholder: "please write your Email" %>
    </div>

    <%= form.submit "Login", class: 'btn btn-secondary '%>

    <% end %>
</div>