<div class="d-flex justify-content-center px-5 py-5 my-5 bg-dark bg-gradient form-group ">
    <%= form_with model: @user,html: {class: 'form-control '}, url: signup_path do |form| %>
    <div class="form-group mb-3">
        <label for="inputName" class="mb-1">Name</label>
        <%= form.text_field :name ,:required => true, class: 'form-control', id: "inputName", placeholder: "Name"%>
    </div>
    <div class="form-group mb-4">
        <label for="inputEmail" class="font-weight-bold mb-1 ">Email</label>
        <%= form.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', class: 'form-control', id: 'inputEmail', placeholder: "Email" %>
    </div>

    <%= form.submit "Registration", class: 'btn btn-secondary btn-lg w-md-25 align-self-center'%>

    <% end %>
</div>