<div class="d-flex flex-column justify-content-center px-5 py-5 my-5 bg-info">
    <h1 class="text-center">Longest Substring</h1>
    <p class="text-center">
       Find the length of the longest substring without repeating characters.
    </p>
    <%= render "form" %>
</div>