<div class="d-flex flex-column  justify-content-center px-5 py-5 mx-5 my-5">
    <p><strong>Full string:</strong> <%= @result.full_string %></p>
    <p><strong>Longest substring:</strong> <%= @result.longest_sub %></p>
    <p><strong>Longest substring length:</strong> <%= @result.longest_sub_length %></p>
</div>